[submodule "step_perf_ir"]
	path = step_perf_ir
	url = https://github.com/anonymous7484/step_perf_ir.git
[submodule "step-perf"]
	path = step-perf
	url = https://github.com/anonymous7484/step-perf.git
